<div id="container" class="container">
  <br>
  <div class="level">
    <div class="level-item">
      <h2 align="center" class="title is-3">Lobby: {{Lobby?.Name}}</h2>
    </div>
  </div>
  <div class="level">
    <div class="level-left">
      <h4 align="left" class="title is-4">Player: {{Lobby?.PlayerOne?.Name.toUpperCase()}}</h4>
    </div>
    <div class="level-item">
      <h4 align="center" class="title is-4">Vs.</h4>
    </div>
    <div class="level-right">
      <h4 align="right" class="title is-4">Player: {{Lobby?.PlayerTwo?.Name.toUpperCase()}}</h4>  
    </div>
  </div>
  <div class=level>
    <div class="level-item">
      <div class="box"> 
        <div *ngFor="let line of chessBoard.ChessBoard" class="columns is-gapless is-centered">
          <div *ngFor="let field of line" style="height: 75px; width: 75px; margin: 0px;" class="columns is-gapless is-centered">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>