<div class="container is-widescreen">
    <div class="notification has-background-light">
      <h2 align="center" class="title is-2">Lobby: {{Lobby?.Name}}</h2>
      <div class="columns">
        <div class="column">
          <h4 align="left" class="title is-4">Player: {{Lobby?.PlayerOne?.Name.toUpperCase()}}</h4>
        </div>
        <div class="column">
          <h4 align="center" class="title is-4">Vs.</h4>
        </div>
        <div class="column">
          <h4 align="right" class="title is-4">Player: {{Lobby?.PlayerTwo?.Name.toUpperCase()}}</h4>
        </div>
      </div>
      <table align="center" class="table is-bordered" >
        <tbody *ngFor="let line of ChessBoard">
          <td *ngFor="let field of line.FieldLine" [id]="field.Id" width="75" height="75" [className]="field.Color ? 'has-background-dark' : 'has-background-light'"></td>
        </tbody>
        </table>
    </div>
</div>

