<div style="height: 50px;">
</div>
<div class="has-background-white-ter">
  <div class="columns is-mobile is-centered">
    <div class="column has-background-info has-text-centered">
      <h1 class="title is-2 has-text-white">Game</h1>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <div>
            <p align="center" class="title is-4">Lobby: {{(GameService.info | async)?.GameName}}</p>
          </div>
        </header>
        <header class="card-header">
          <div style="padding: 30px;">
            <span class="tag is-grey is-large">{{(GameService.info | async)?.FirstPlayer.Name}}</span>&nbsp;
            <span class="tag is-large is-black">VS</span>&nbsp;
            <span class="tag is-grey is-large">{{(GameService.info | async)?.SecondPlayer.Name}}</span><br>
          </div>
        </header>
        <header class="card-header">
          <p class="title is-5 has-text-info">{{error}}</p>
        </header>
      </div>
    </div>
    <div class="column auto">
      <div class=level>
        <div class="level-item">
          <div class="box">
            <div *ngFor="let line of chessBoard; let y = index; let firstEven = even; let firstOdd = odd" style="margin: 0px;" class="columns is-gapless is-centered">
              <div (click)="moveFigure($event, field)" *ngFor="let field of line; let x = index; let secondEven = even; let secondOdd = odd" style="height: 75px; width: 75px; margin: 0px;" 
                [ngClass]="((firstEven && secondEven)||(firstOdd && secondOdd))? 'has-background-dark' : 'has-background-white'">
                <img id="{{setCoordinate(x, y)}}" src="{{getImg(field)}}" class="has-image-centered" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
