<section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <a href="player-search.component.html">Chess4You</a>
        </h1>
      </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
      <div class="container">
        <a id="searchGame" (click)="searchGame()" class="button is-large is-info is-outlined">Search for a Game</a>&nbsp;
        <a id="showLobby"  (click)="showLobby()" class="button is-large is-info is-outlined">Show all Lobby's</a>&nbsp;
        <a id="showLobby" (click)="showBoard()" class="button is-large is-info is-outlined">Chessboard</a>
      </div>
    </div>
</section>