<div class="container">
  <div class="columns" style="padding: 1vh;">
    <div class="column">
        <h2 class="title is-2">Lobby's</h2>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <a (click)="openSearchLobby()" class="button is-large is-fullwidth is-info is-outlined" style="height: 50vh;">Search Lobby</a>
    </div>
    <div class="column">
      <a (click)="openJoinLobby()" class="button is-large is-fullwidth is-info is-outlined" style="height: 50vh;">Join Lobby</a>
    </div>
    <div class="column">
      <a (click)="openShowLobby()" class="button is-large is-fullwidth is-info is-outlined" style="height: 50vh">Show Lobbys</a>
    </div>
    <div class="column">
      <a (click)="toggleCreateModal()" class="button is-large is-fullwidth is-info is-outlined" style="height: 50vh">Create Lobby</a>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active' : modal.isSearchActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Search for Lobby</p>
        <button (click)="toggleSearchModal()" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
              <label class="label">Playername</label>
              <div class="controll">
                  <input [(ngModel)]="lobbyData.playerName" class="input" type="text" placeholder="Blublubmaster2000">
              </div>
              <p class="help">Enter your existing Playername or a new one.</p>
            </div>
      </section>
      <footer class="modal-card-foot">
          <button [disabled]="!lobbyData.playerName" (click)="searchLobby()" class="button is-info is-large is-fullwidth">Join Game</button>
      </footer>
    </div>
  </div>

  <div class="modal" [ngClass]="{ 'is-active' : modal.isJoinActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Join a Lobby</p>
        <button (click)="toggleJoinModal()" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Uuid</label>
          <div class="controll">
              <input [(ngModel)]="lobbyData.uuid" class="input" type="text" placeholder="Uuid of the Game">
          </div>
          <p class="help">Copy here the received uuid to join a Game.</p>
        </div>
        <div class="field">
            <label class="label">Playername</label>
            <div class="controll">
                <input [(ngModel)]="lobbyData.playerName" class="input" type="text" placeholder="Blublubmaster2000">
            </div>
            <p class="help">Enter your existing Playername or a new one.</p>
          </div>
        </section>
      <footer class="modal-card-foot">
          <button [disabled]="!lobbyData.uuid || !lobbyData.playerName" (click)="joinLobby(lobbyData.playerName, lobbyData.uuid)" class="button is-info is-large is-fullwidth">Join Game</button>
      </footer>
    </div>
  </div>

  <div class="modal" [ngClass]="{ 'is-active' : modal.isMessageActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Message</p>
          <button (click)="toggleMessageModal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <i [className]="messageData.isSuccess ? 'fas fa-exclamation-circle' : 'far fa-check-circle' ">{{messageData.Message}}</i>
        </section>  
    </div>
  </div>

  <div class="modal" [ngClass]="{ 'is-active' : modal.isCreateActive }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Create a Lobby</p>
          <button (click)="toggleCreateModal()" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
              <label class="label">Playername</label>
              <div class="controll">
                  <input [(ngModel)]="lobbyData.playerName" class="input" type="text" placeholder="Blublubmaster2000">
              </div>
              <p class="help">Enter your existing Playername or a new one.</p>
            </div>
          <div class="field">
            <label class="label">Color</label>
            <div class="control">
                <label class="radio">
                  <input [(ngModel)]="lobbyData.color" type="radio" name="foobar" [value]="true">
                  White
                </label>
                <label class="radio">
                  <input [(ngModel)]="lobbyData.color" type="radio" name="foobar" [value]="false">
                  Black
                </label>
              </div>
            <p class="help">Select one color.</p>
          </div>
          </section>
        <footer class="modal-card-foot">
            <button [disabled]="!lobbyData.color || !lobbyData.playerName" (click)="createLobby()" class="button is-info is-large is-fullwidth">Join Game</button>
        </footer>
      </div>
    </div>