<div class="container is-widescreen">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">Chess4You</a></li>
      <li class="is-active"><a href="#" aria-current="page">Game</a></li>
    </ul>
  </nav>
</div>
<div class="container is-widescreen">
    <div class="notification has-background-white">
      <h2 class="title is-2">Lobby's</h2>
      <div class="tile is-parent is-vertical">
        <article *ngFor="let Lobby of ListLobby"  class="tile is-child notification is-warning has-background-info has-text-white">
            <p class="title">Lobby: {{Lobby.Name}}</p>
            <p class="subtitle">Players:</p>
            <p>1. {{Lobby.PlayerOne.Name}}</p>
            <p>2. {{Lobby.PlayerTwo?.Name}}</p>
            <a [id]="Lobby.Name" (click)="joinLobby(Lobby.Name)" [className]="isLoading ? 'button is-info is-inverted is-outlined is-loading has-background-white' : 'button is-info is-inverted is-outlined' ">Join Lobby</a>
        </article>
      </div>
    </div>
  </div>
